<div>
    <h1>Administracion de Perros</h1>
    <div><p>Este es un texto de prueba</p></div>
</div>


<div>
    <form action="/Perro/ingresoAdmin/ingresoPerro"
          method="POST">
        <div>
            <label for="nombrePerro">Nombre de Perro:</label>
            <input id="nombrePerro" name="nombrePerro" type="text">
        </div>
        <div>
            <label for="razaPerro">Raza de Perro:</label>
            <input id="razaPerro" name="razaPerro" type="text">
        </div>
        <div>
            <label for="tamanioPerro">Tamaño de Perro:</label>
            <input name="tamanioPerro"
                   id="tamanioPerro">
        </div>
        <div>
            <label for="sexoPerro">Sexo de Perro:</label>
            <input name="sexoPerro"
                   id="sexoPerro">
        </div>
        <div>
            <label for="edadPerro">Edad de Perro:</label>
            <input name="edadPerro"
                   id="edadPerro" type="number">
        </div>
        <div>
            <label for="descripcionPerro">Descripcion de Perro:</label>
            <input name="descripcionPerro"
                   id="descripcionPerro" type="text">
        </div>
        <div>
            <label for="fertilidadPerro">Fertilidad de Perro:</label>
            <input name="fertilidadPerro"
                   id="fertilidadPerro" type="checkbox" >
        </div>
        <div>
            <label for="vacunaPerro">Vacuna de Perro:</label>
            <input name="vacunaPerro"
                   id="vacunaPerro" type="checkbox">
        </div>

        <div>
            <label for="chipPerro">Chip de Perro:</label>
            <input name="chipPerro"
                   id="chipPerro" type="checkbox">
        </div>
        <div>
            <label for="adopcionPerro">Adopcion:</label>
            <input name="adopcionPerro"
                   id="adopcionPerro" type="checkbox">
        </div>
        <div>
            <label for="fechaPerro">Fecha de registro de Perro:</label>
            <input name="fechaPerro"
                   id="fechaPerro" type="text">
        </div>

        <button type="reset">Limpiar</button>
        <button >Registrar</button>
    </form>
</div>