<div>
    <h1>¿Quienes Somos?</h1>
    <div><p>Este es un texto de prueba</p></div>
</div>
<div>
<form action="/Usuario/registro"
      method="POST">
    <div>
        <label for="nombre">Nombre:</label>
        <input id="nombre" name="nombre" type="text">
    </div>

    <div>
        <label for="biografia">Apellido:</label>
        <input name="apellido"
                  id="apellido">
    </div>
    <div>
        <label for="correo">Correo:</label>
        <input name="correo"
               id="correo">
    </div>
    <div>
        <label for="contrasenia">Contraseña:</label>
        <input name="contrasenia"
               id="contrasenia">
    </div>
    <div>
        <label for="fechaNac">Fecha de Nacimiento:</label>
        <input name="fechaNac"
               id="fechaNac">
    </div>

    <div>
        <label for="telefono">Telefono:</label>
        <input name="telefono"
               id="telefono">
    </div>

    <div>
        <label for="genero">Genero:</label>
        <input name="genero"
               id="genero">
    </div>


    <button type="reset">Limpiar</button>
    <button >Registrar</button>
</form>
</div>